@model GridCollectionItemViewModel

<a asp-controller="ProductDetails" asp-action="Index" asp-route-id="@Model.Id" class="card">
    <img src="@Model.ProductImage" class="topimg" alt="@Model.Name">
    <div class="card-body">
        <div class="title">
        <p class="head-text">@Model.Name</p>
        </div>
        <div class="info">
        <p>@Model.Description</p>
        <p class="paragraph">$@Model.Price</p>
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
        
    </div>
</a>