@model ProductRegistrationViewModel
@{
    ViewData["Title"] = "Register Product";
    
    
}

<div class="d-flex justify-content-center" style="margin-bottom:540px">
    <div class="col-6">
        <h1>Add Your Product:</h1>
        <form enctype="multipart/form-data" method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"/>
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="ArticleNumber" class="form-label"></label>
                <input asp-for="ArticleNumber" class="form-control" />
                <small><span asp-validation-for="ArticleNumber" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <small><span asp-validation-for="Price" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="OldPrice" class="form-label"></label>
                <input asp-for="OldPrice" class="form-control" />
                <small><span asp-validation-for="OldPrice" class="text-danger"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control no-resize" rows="4" ></textarea>
                <small><span asp-validation-for="Description" class="text-danger"></span></small>
            </div>


            @foreach(SelectListItem tag in ViewBag.Tags)
            {
                <div>
                    <input type="checkbox" name="Tags" value="@tag.Value" checked="@tag.Selected" class="form-check-input"/>
                    <label for="@tag.Value" class="form-check-label">@tag.Text</label>
                </div>
            }

            <div class="mb-3">
                <label asp-for="ProductImage" class="form-label"></label>
                <input type="file" asp-for="ProductImage" class="form-control" rows="4" />
                <small><span asp-validation-for="ProductImage" class="text-danger"></span></small>
            </div>
            <div class="cardgrid mt-2">
                <button type="submit">Add</button>
            </div>
        </form>
        <h1>Added Products</h1>

        <table class="table">
            <thead>
                <tr>
                    <th >Name</th>
                    <th >Price</th>
                    <th >Description</th>
                    <th >Image</th>
                </tr>
            </thead>
            <tbody>
              
                    @foreach(var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.Description</td>
                        <td><img src="~/Images/products/@product.ProductImage" alt="@product.Name" style="width: 100px; height:100px;"/></td>
                        </tr>
                    }
                  
                
            </tbody>
        </table>


    </div>
</div>