@model HomeIndexViewModel
@{
    ViewData["Title"] = Model.Title;
}


<!-- Showcase start-->
<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO BMERKETO SHOP</div>
            <div class="title">Exclusive Gold Watch Collection</div>
            <button class="btn-theme">SHOP NOW</button>
        </div>
        <img class="showcasehero" src="images/pexels.jpg" alt="" />
    </div>
</section>
<!-- Showcase end-->
<!--Cardgrid start-->
<section class="cardgrid">
    <partial name="/Views/Partials/_GridCollection.cshtml" model="@Model.BestCollection" />
</section>
<!--Cardgrid end-->
<!--Best price starts-->
<section class="bestprice">    
    <div class="container">
        <partial name="/Views/Partials/_PercentageOffCollection.cshtml" model="@Model.PercentageOff" />
        <partial name="/Views/Partials/_InfoBoxPartial.cshtml"/>
        <partial name="/Views/Partials/_PercentageOffCollection2.cshtml" model="@Model.PercentageOff2" />
    </div>
</section>
<!--Best price ends-->
<!-- Top selling products start-->
<section class="spotlight">
    <h1>Top Selling Products This Week</h1>
    <hr>
    <div class="container">
      <partial name="/Views/Partials/_TopSellingCollection.cshtml" model="@Model.TopSelling" />
    </div>
</section>
<!-- Top selling products ends-->
<!-- Endboxes starts-->
<section class="end-boxes">
<partial name="/Views/Partials/_EndBoxesCollection.cshtml" model="@Model.EndBoxes"/>
</section>
<!-- Endboxes ends-->
<!--subscribe starts-->
<section class="subscribe">
    <div class="container">
        <div class="whitebox">
            <div class="mb-3">
                <div class="input-group mb-3">
                    <input type="email" placeholder="Write your email adress!">
                    <button class="btn-theme">Subscribe for newsletter!</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--subscribe ends-->
